.form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 100%;
    padding: 1rem;
     
}
.form-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 1rem;
    overflow: hidden;
     background-color: rgba(0, 0, 0, 0.7);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
@media screen and (max-width: 500px){
    .form-cont{
        background-color: white;
        flex-direction: column;
    }
}