* {
  margin: 0;
  padding: 0;
}
.layout {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;
  flex-direction: column;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 98%;
}
header {
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #495e57;
  padding: 1%;
  margin-top: 2%;
}
#logo {
  max-height: 68px;
  width: 256px;
  cursor: pointer;
  margin-top: 0.5rem;
}
.logoAndIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
nav {
  display: flex;
  flex-direction: column;
}
.d-flex .footer-ul {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 1rem;
  transition: max-height 0.5s ease-in-out;
  width: 98%;
}
.spc {
  flex-direction: row !important;
}

.d-flex nav ul li {
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-wrap: nowrap;
  margin: 0.5rem 0.5rem;
}
.d-flex nav ul li a {
  margin: 0;
  color: black;
  font-weight: bold;
  text-wrap: nowrap;
}

.d-flex {
  display: flex;
  justify-content: space-around;
  width: 98%;
  align-items: center;
  flex-direction: column;
}

.linkshead {
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link-title {
  text-wrap: nowrap;
  font-size: 1rem !important;
  display: none;
}
ul {
  list-style: none;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  padding: 0;
  display: flex;
}
.bi {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  margin: 0 0.2rem;
  display: none;
}
.bi-x {
  font-size: 1.5rem;
}
.bi-chevron-up,
.bi-chevron-down {
  font-size: 1.5rem !important;
}
a {
  margin: 0 1rem;
  text-decoration: none;
  color: #495e57;
  font-weight: bold;
  text-wrap: nowrap;
}
a:hover {
  border-bottom: 2px solid #495e57;
  color: gray;
}
.bis {
  display: none;
}
.link-cacher {
  display: flex;
}

.copydiv {
  width: 98%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copydiv img {
  height: 30px;
  width: auto;
  cursor: pointer;
}

.copy {
  font-size: 1rem;
  font-weight: bold;
  font-family: "Markazi Text";
}
.logos {
  width: 50px;
  height: 30px;
  border-radius: 20px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

/* Responsive */
@media screen and (min-width: 769px) and (max-width: 1124px) {
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    height: fit-content;
  }

  #logo {
    width: 100px;
  }

  .bis {
    display: block;
  }

  .bi {
    display: block;
  }

  .logoAndIcon {
    justify-content: space-between;
    align-items: center;
    width: 98%;
    border-radius: 20px;
    padding: 1%;
  }

  .afficher {
    flex-direction: column;
    align-items: center !important;
    width: 100vw !important;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
  }

  .cacher {
    flex-direction: column;
    align-items: center !important;
    width: 100vw;
    justify-content: center;
    display: none;
    overflow: hidden;
  }

  .link-cacher {
    display: none;
    transition: max-height 0.5s ease-in-out;
  }

  .footer-ul {
    flex-direction: row;
    width: 100%;
    padding-left: 0;
    transition: max-height 0.5s ease-in-out;
  }

  .footer-ul li {
    margin: 0 0.5rem;
  }

  .d-flex {
    flex-direction: column;
  }
  nav ul li a {
    font-size: 5vw !important;
  }
  nav ul li {
    margin-top: 1.5rem !important;
  }

  .linkshead .bi {
    font-size: 3vw;
  }

  .link-title {
    font-size: 2vw;
    display: block;
  }

  footer nav {
    width: 98%;
  }
}
