.card{
    height: 400px;
    width: 450px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
    overflow: hidden !important;
    justify-content: space-between;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.card:hover{
     box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.075);
    overflow: hidden !important;
}
.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    padding: 1rem;
}
.card-head{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.titre{
    font-family: "karla";
    font-size: 2vw;
    font-weight: bold;
    color: #F4CE14;
}
.prix{
    font-family: "karla";
    font-size: 1.6vw;
    color: #EE9972;
}
.desc{
    text-align: left;
    font-family: "karla";
    font-size: 1vw;
}
.card-img{
    width: 100%;
    height:50%;
  
}

@media screen and (max-width:992px) {
    .desc,.titre,.prix{
        font-size: 1rem;
    }
    
    .card{
      height: 250px;
    }
}

@media screen and (max-width:500px){
    .card{
        flex-direction: row;
        width: 90%;
        height: fit-content;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        box-shadow: none;
    }
    .card-img{
       width: 80px;
       height: 80px;
       border-radius: 20px;
       
    }
    .card-body{
        height: 100%;
        justify-content: center;

    }
    .prix,.titre{
        font-size: 5vw;
    }
    .desc{
        font-size: 2vw;
        width: 90%;
    }
    .card-head{
        width: 90%;
    }

}

