.homecontainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}


/* ============== conteneur1 ============== */
.conteneur1 {
  height: 400px;
  width: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  background-color: #495e57;
}

.presentation {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1%;
  box-sizing: border-box;
}

.img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.title {
  font-family: "Markazi Text";
  color: #f4ce14;
  font-size: clamp(2rem, 4vw, 4rem);
}

#plat {
  margin-top: 2rem;
  height: 300px;
  width: 350px;
  border-radius: 20px;
}

#desc {
  color: white;
  text-align: left;
  width: 50%;
}

/* ============== conteneur2 ============== */
.conteneur2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

.subtitle {
  font-family: "Markazi Text";
  font-size: clamp(1.8rem, 4vw, 3rem);
  font-weight: bold;
  color: #495e57;
}

.links {
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.cat {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95%;
}

.special-menu {
  display: flex;
  overflow-x: auto;
  width: 98%;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  height: fit-content !important;
}

.plus {
  font-size: 4vw;
  color: blue;
  text-decoration: underline;
}

/* ============== media queries ============== */
@media screen and (max-width: 992px) {
  .conteneur1 {
    align-items: center;
    justify-content: center;
    height: fit-content;
    flex-direction: column;
  }

  #desc {
    width: 100%;
    font-size: 3vw;
  }

  .title {
    font-size: 8vw;
  }

  .special-menu {
    justify-content: flex-start;
    margin-top: 1rem;
  }

  .presentation {
    width: 95%;
  }
}

@media screen and (max-width: 768px) {
  .img {
    width: 60%;
    height: auto;
    align-items: center;
    justify-content: center;
  }

  #plat {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
  }

  .conteneur1 {
    width: 100%;
    height: auto;
    flex-direction: column;
  }

  .presentation {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: auto;
    padding: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .homecontainer {
    justify-content: flex-start;
  }

  .special-menu {
    flex-direction: column;
    margin-top: 1rem;
  }

  .conteneur1 {
    padding: 2rem;
    justify-content: center;
    background-image: url("../../assets/images/restauranfood.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    height: auto;
  }

  .img {
    display: none;
  }

  .conteneur2 {
    width: 100%;
  }

  .title {
    font-size: 10vw;
    width: 90%;
  }

  #reserve {
    font-size: 3vw;
  }

  #desc {
    width: 90%;
    margin: 0;
    padding: 0;
  }

  .links {
    display: flex;
  }

  .bnts {
    justify-content: center;
  }

  .bnts button {
    margin: 0 1%;
  }

  .cat {
    justify-content: space-between;
  }
}
