.menu-container{
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  max-width: 100%;
  overflow-y: auto;
  background-color: #495e57;
}
.menus{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}