.Reservation-container {
  display: flex;
  align-items: center !important;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

form h1 {
  font-family: "Markazi Text";
  color: #f4ce14;
  font-size: 2vw !important;
}
.plats {
  width: 98%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: fit-content;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 1rem;
  height: auto;
  min-width: fit-content;
}
.plats img {
  width: 200px;
  height: 200px !important;
  border-radius: 20px;
}

form {
  display: flex;
  width: 1000px !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  overflow: hidden;
  overflow-y: auto;
  border-radius: 20px;
  transition: all 2s ease;
  height: fit-content !important;
  padding-top: 1%;
  scroll-behavior: smooth;
 
}
.btn {
  width: 300px;
  height: 50px;
  padding: 1rem;
}
.btn button{
  width: 300px;
}
form h1 {
  font-family: "Markazi Text";
  color: black;
  font-size: 4vw;
  margin-top: 2rem;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
#rsHeader{
  border-bottom:  4px solid black;
}
.section1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 70%;
  
}
.section2 {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;
  width: 80%;
   
}

textarea {
  width: 100%;
  height: 100px;
  border: none;
  font-size: 1rem;
  background: none;
  border-radius: 10px;
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.3), 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .plats img {
    width: 200px !important;
    height: 200px !important;
  }

  .section1 {
    width: 100%;
  }
   .section2 {
    width: 90%;
  }
  form {
    width: 100%;
  }
  .input-groupe {
    width: 350px !important;
  }
}

@media screen and (max-width: 768px) {
  .input-groupe1 {
    width: 50%;
    margin: 1rem;
  }
    form{
    width: 100%;
    overflow-y: auto !important;
    background-color: white;
  }
  form h1{
    color: black;
  }
  .section-form{
    width: 100%;
   
  }
  .form-groupe h2 {
    font-size: 4vw;
  }
  

  .section1{
    width: 98%;
    justify-content: center !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .section2 {
    width: 100% !important;
    justify-content: center !important;
    margin: 0 !important;
    padding: 0 !important;
   
  }
   .plats img {
    width: 150px !important;
    height: 150px !important;
    margin: .5rem;
  }

}
@media screen and (max-width: 500px) {
 
  .form-groupe {
    margin-top: 1rem;
  }

  textarea {
    padding: 0;
  }

}
