.btnContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: fit-content;
  height: fit-content;
   background-color: #F4CE14;
    color: #495E57;
    font-weight: bold;
    font-family: "karla";
    font-size: 1rem;
    padding: 2%;
    border-radius: 20px;
      cursor: pointer;
      
}
.btnContainer:hover{
   background-color: #495E57;
   color: #F4CE14;
}

